body {
  background-color: rgb(0, 0, 0);
  padding-top: 7rem;
}

#dmlogo {
  height: 6rem;
  width: 8rem;
}

.nav-link {
  font-family: monospace;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin-left: 2.5rem;
}

.module {
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0.4rem 0.4rem 1.2rem rgba(0, 0, 0, 0.25), -0.4rem -0.4rem 1.2rem rgba(255, 255, 255, 0.3);
  border-radius: 3rem;
}

.module > div {
  padding: 1rem 1rem 1rem 1rem;
}

.grey-module {
  background: linear-gradient(145deg, #767676, #636363);
}

@media (min-width: 768px) {
  .left-image {
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
  }
}

@media (max-width: 767px) {
  .left-image {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
  }
}

.module > div.image-col {
  padding: 0 0 0 0;
}

.image-col > img {
  height: 100%;
  width: 100%;
}
